In [102]:
import pandas as pd
import numpy as np

# File path
carbon_emissions_path = "C:\\Users\\ADMIN\\Desktop\\Carbon-Emisisions\\Emissions Dataset\\Carbon Dioxide Emission Estimates.csv"
reductions_path = "C:\\Users\\ADMIN\\Desktop\\Carbon-Emisisions\\Emissions Dataset\\Reductions Dataset.csv"
    
# Read CSV file into DataFrame
carbon_df = pd.read_csv(carbon_emissions_path)
reductions_df = pd.read_csv(reductions_path)

In [103]:
# Create copy of the original dataframe
carbon_df_original = carbon_df.copy()
reductions_df_original = reductions_df.copy()

In [104]:
# Carbon emissions
carbon_df["CO2 emission estimates"] = carbon_df["CO2 emission estimates"].astype("category")
carbon_df["Years"] = carbon_df["Years"].astype("int64")
carbon_df["Series"] = carbon_df["Series"].astype("category")
carbon_df["Value"] = pd.to_numeric(carbon_df["Value"], errors="coerce")

# Quick check of dtypes
carbon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2132 entries, 0 to 2131
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CO2 emission estimates  2132 non-null   category
 1   Years                   2132 non-null   int64
 2   Series                  2132 non-null   category
 3   Value                   2132 non-null   float64
dtypes: category(2), float64(1), int64(1)
memory usage: 45.0 KB

In [105]:
# Carbon reductions

reductions_df['Type'] = reductions_df['Type'].astype('category')
reductions_df['Reduced Carbon(Gt)'] = reductions_df['Reduced Carbon(Gt)'].astype('float')
reductions_df['How'] = reductions_df['How'].astype('category')
0
# Quick check of dtypes

reductions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Type                6 non-null      category
 1   Reduced Carbon(Gt)  6 non-null      float64
 2   How                 6 non-null      category
dtypes: category(2), float64(1)
memory usage: 632.0 bytes

In [106]:
# Before renaming
carbon_df.head()

,CO2 emission estimates,Years,Series,Value
0,Albania,1975,Emissions (thousand metric tons of carbon diox...,4338.334
1,Albania,1985,Emissions (thousand metric tons of carbon diox...,6929.926
2,Albania,1995,Emissions (thousand metric tons of carbon diox...,1848.549
3,Albania,2005,Emissions (thousand metric tons of carbon diox...,3825.184
4,Albania,2010,Emissions (thousand metric tons of carbon diox...,3930.295

In [107]:
# Rename columns to be more descriptive and proper
carbon_df.rename(columns={
    'CO2 emission estimates': 'Country',
    'Years': 'Year',
    'Series': 'Emission_Type',
    'Value': 'CO2_Value'
}, inplace=True)

In [108]:
# After renaming
carbon_df.head()

   Country  Year                                      Emission_Type  CO2_Value
0  Albania  1975  Emissions (thousand metric tons of carbon diox...   4338.334
1  Albania  1985  Emissions (thousand metric tons of carbon diox...   6929.926
2  Albania  1995  Emissions (thousand metric tons of carbon diox...   1848.549
3  Albania  2005  Emissions (thousand metric tons of carbon diox...   3825.184
4  Albania  2010  Emissions (thousand metric tons of carbon diox...   3930.295

In [109]:
# before renaming
reductions_df_original.head()

,Type,Reduced Carbon(Gt),How
0,Energy,8.2,We have the necessary technology to transf...
1,Industry,5.4,5.4gt of carbon emissions from the industry c...
2,Buildings & Cities,5.9,Updating existing infrastructure can help re...
3,Transport,4.7,That number can be turned into practice by u...
4,Natural-Based Solutions,5.9,That number can be turned into practice if w...

In [110]:
#  After renaming

reductions_df.rename(columns={
    'Type': 'Industry Sector',
    'Reduced Carbon(Gt)': 'Reduced Emissions (Gt)',
    'How': 'Summary',
}, inplace=True)

reductions_df.head()

,Industry Sector,Reduced Emissions (Gt),Summary
0,Energy,8.2,We have the necessary technology to transf...
1,Industry,5.4,5.4gt of carbon emissions from the industry c...
2,Buildings & Cities,5.9,Updating existing infrastructure can help re...
3,Transport,4.7,That number can be turned into practice by u...
4,Natural-Based Solutions,5.9,That number can be turned into practice if w...

In [111]:
# Check for null values in all columns
def check_null(carbon_df):
    null_counts = carbon_df.isnull().sum()
    total_nulls = null_counts.sum()
    return null_counts, total_nulls

print(check_null(carbon_df))

(Country          0
Year             0
Emission_Type    0
CO2_Value        0
dtype: int64, np.int64(0))

In [112]:
# Unique values in Carbon Emissions dataframe
print("=== Carbon Emissions DataFrame ===")
print(carbon_df['Country'].unique())
print((carbon_df['Year'].unique()))
print(carbon_df['Emission_Type'].unique())

=== Carbon Emissions DataFrame ===
['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', ..., 'Venezuela (Boliv. Rep. of)', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']
Length: 142
Categories (142, object): ['Albania', 'Algeria', 'Angola', 'Argentina', ..., 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']
[1975 1985 1995 2005 2010 2015 2016 2017]
['Emissions (thousand metric tons of carbon dio..., 'Emissions per capita (metric tons of carbon d...]
Categories (2, object): ['Emissions (thousand metric tons of carbon dio..., 'Emissions per capita (metric tons of carbon d...]

In [113]:
duplicate_count = carbon_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

if duplicate_count > 0:
    print("\n Duplicate rows found:")

# keep = false for turning all occurrences of duplicates to true

    duplicate_rows = carbon_df[carbon_df.duplicated(keep=False)] 
    print(duplicate_rows)
else:
    print("\nNo duplicate rows found in the dataset.")

Number of duplicate rows: 0

No duplicate rows found in the dataset.

In [114]:
replaced_vals = carbon_df.replace({'Iran (Islamic Republic of)': 'Iran', 'Bolivia (Plurin. State of)': 'Bolivia',
                                 "Dem. People's Rep. Korea": 'North Korea', 'Venezuela (Boliv. Rep. of)': 'Venezuela',
                                'United States of America': 'United States', 'United Rep. of Tanzania': 'Tanzania',
                                'Dem. Rep. of the Congo': 'Congo - Kinshasa', 'Syrian Arab Republic': 'Syria',
                                'Viet Nam': 'Vietnam', 
                                }, inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_18476\2728756343.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  replaced_vals = carbon_df.replace({'Iran (Islamic Republic of)': 'Iran', 'Bolivia (Plurin. State of)': 'Bolivia',

In [115]:
import os

# Create folders for exported CSV files
original_folder = "Prepared Data/Original"
modified_folder = "Prepared Data/Modified"

# Create directories if they don't exist
os.makedirs(original_folder, exist_ok=True)
os.makedirs(modified_folder, exist_ok=True)

# Export original dataframe to CSV
original_file_path = os.path.join(original_folder, "Carbon_Dioxide_Emission_Estimates_Original.csv")
carbon_df_original.to_csv(original_file_path, index=False)
print(f"Original CSV exported to: {original_file_path}")

original_file_path_reductions = os.path.join(original_folder, "Reductions_Dataset_Original.csv")
reductions_df_original.to_csv(original_file_path_reductions, index=False)
print(f"Original Reductions CSV exported to: {original_file_path_reductions}")

# Export modified dataframe to CSV
modified_file_path = os.path.join(modified_folder, "Carbon_Dioxide_Emission_Estimates_Modified.csv")
carbon_df.to_csv(modified_file_path, index=False)
print(f"Modified CSV exported to: {modified_file_path}")

modified_file_path_reductions = os.path.join(modified_folder, "Reductions_Dataset_Modified.csv")
reductions_df.to_csv(modified_file_path_reductions, index=False)
print(f"Modified Reductions CSV exported to: {modified_file_path_reductions}")

print(f"\nExport completed successfully!")
print(f"Original file: {len(carbon_df_original)} rows")
print(f"Modified file: {len(carbon_df)} rows")

Original CSV exported to: Prepared Data/Original\Carbon_Dioxide_Emission_Estimates_Original.csv
Original Reductions CSV exported to: Prepared Data/Original\Reductions_Dataset_Original.csv
Modified CSV exported to: Prepared Data/Modified\Carbon_Dioxide_Emission_Estimates_Modified.csv
Modified Reductions CSV exported to: Prepared Data/Modified\Reductions_Dataset_Modified.csv

Export completed successfully!
Original file: 2132 rows
Modified file: 2132 rows